{% extends "base.html" %}

{% block content %}

<style>
    body { padding-top: 100px; }
</style>

{% include "navbar.html" %}

<div id="booktiles" class="center" style="margin-bottom: 0%;margin-top:0%;">
    <div class="row">
      <div class="col-md-12 " style="margin-bottom: 5%;margin-top:0%;">
        <h1>
          <strong>Book<span style="color:#57CBCC;">Inventory</span></strong>
        </h1>
      </div>
    </div>
  </div>

<script src="/static/js/inventoryscript.js"></script>

{% endblock %}